[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "25.1.0"

[packages]
playwright = "1.52.0"
beautifulsoup4 = "4.13.4"
lxml = "5.4.0"
pandas = "2.3.1"
xlrd = "2.0.1"
numpy = "2.2.6"

[requires]
python_version = "3.12"
