[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
playwright = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"
xlrd = "*"
numpy = "*"

[requires]
python_version = "3.12"

[scripts]
playwright_setup = "npm install"
